<form action = "https://animated-couscous-5gv94vgq4xgq3pgg-3000.app.github.dev/process_roll">
How many dice?
<input type = "text" name = "dice">

How many sides?
<input type = "text" name = "sides">


<button> Submit </button>


</form>
